:root {
    --black: #161719;
    --gray-darkest: #1f2023;
    --gray-darker: #292a2d;
    --gray-lighter: #adadb3;
    --gray-lightest:  #d0d0da;
    --white: #eaeaff;

    --background: var(--gray-darker);
    --foreground: var(--gray-lightest);

    font-size: 16px;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Inter,Roboto,Segoe UI,Helvetica,Arial,sans-serif;
    margin: 0;

    height: 100%;
}

nav {
    padding: 1rem 2rem;
    
    background-color: var(--black);

    height: 100%;
}

h1 {
    margin-bottom: 2rem;
}

p {
    margin: 1rem 0;
}

a {
    color: var(--gray-lighter);
    
    /* This makes the link easier to hover over without screwing with the padding of the parent.*/
    padding: 1rem;
    margin: -1rem 0;
    display: inline-block;

    transition: all 0.15s ease-in-out;
}

a:hover, a:focus {
    color: var(--gray-lightest);
}

.container {
    display: flex;

    height: 100vh;
}

.sidebar {
    width: 22rem;
    padding: 2rem;
    background-color: var(--gray-darkest);
}

.content {
    padding: 2rem;

    max-width: 40rem;
}

.social-links {
    float: right;
}

.logo {
    display: inline-flex;
    align-items: center;
}

#blinking-cursor {
    display: inline-block;

    background: orangered;
    width: 0.45rem;
    height: 1rem;

    margin-left: 0.55rem;

    border-radius: 1px;
}

.img-container {
    display: flex;
    justify-content: space-evenly;
}

.img-container > img {
    width: 45%;
    border-radius: 2px;
}
