<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>

    <link rel="shortcut icon" href="/img/favicon.png">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/fa-all.min.css">
    <link rel="stylesheet" href="/webfonts/inter.css">
</head>

<body>
    <nav>
        <div class="logo">
            <span>> juice #</span>

            <span id="blinking-cursor"></span>
        </div>

        <div class="social-links">
            <a href="https://twitter.com/_juicemia"><i class="fab fa-twitter-square"></i> Twitter</a>
            <a href="https://github.com/juicemia"><i class="fab fa-github-square"></i> Github</a>
        </div>
    </nav>

    <div class="container">
        <div class="sidebar">
            <h2>Recent Posts</h2>

            <ul>
                {% if blog_links|length > 0 %}
                {% for link in blog_links %}
                <li>
                    <a href="{{ link.href }}">{{ link.preview }}</a>
                </li>
                {% endfor %}
                {% else %}
                <li>Nothing to see here yet!</li>
                {% endif %}
            </ul>

            <a href="#" class="see-all-link">See all...</a>
        </div>

        <div class="content">
            {{ content }}
        </div>
    </div>

    <script src="/js/main.js"></script>
</body>

</html>
